@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
img{
    width: 500px;
    
}

h1{
    font-family: 'Rubik Mono One', sans-serif;
}

nav{
    padding: 95;
    color: azure;

}

h1{
    color: black;
    padding-left: 5%;
}

section{
    padding-left: 10%;
    color: dimgray;
}

footer{
    color: dimgrey;
    text-align: center;
}